

.infoTitle {
    color: #000000;
  
    font-weight: bold;
  
    text-align: LEFT;
    font-size: 1.6rem;
  
  }
  


.fontBold{

    font-size: 1rem;
    font-weight: bold;


}

.DivideHalf{


  width: 40%;

}


.size{

    font-size: 1.3rem;



}


.containerFlex {
    display: flex;
 
    gap: 10px;
  
  
  }





  .button {
    margin: 20px;
  }
  .customBtn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  
  
  
  
  
  
  /* 7 */
  .btnSave {
    background: linear-gradient(0deg,  rgb(32, 245, 163) 0%,  rgb(15, 189, 122) 100%);
      line-height: 42px;
      padding: 0;
      border: none;
    }
    .btnSave span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btnSave:before,
    .btnSave:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background:  rgb(15, 189, 122);;
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btnSave:before{
       height: 0%;
       width: 2px;
    }
    .btnSave:after {
      width: 0%;
      height: 2px;
    }
    .btnSave:hover{
      color:  rgb(15, 189, 122);;
      background: transparent;
    }
    .btnSave:hover:before {
      height: 100%;
    }
    .btnSave:hover:after {
      width: 100%;
    }
    .btnSave span:before,
    .btnSave span:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background:  rgb(15, 189, 122);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btnSave span:before {
      width: 2px;
      height: 0%;
    }
    .btnSave span:after {
      height: 2px;
      width: 0%;
    }
    .btnSave span:hover:before {
      height: 100%;
    }
    .btnSave span:hover:after {
      width: 100%;
    }
    
  
    .btnCancel {
      background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
        line-height: 42px;
        padding: 0;
        border: none;
      }
      .btnCancel span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
      }
      .btnCancel:before,
      .btnCancel:after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        background: rgba(251,75,2,1);
        box-shadow:
         -7px -7px 20px 0px rgba(255,255,255,.9),
         -4px -4px 5px 0px rgba(255,255,255,.9),
         7px 7px 20px 0px rgba(0,0,0,.2),
         4px 4px 5px 0px rgba(0,0,0,.3);
        transition: all 0.3s ease;
      }
      .btnCancel:before{
         height: 0%;
         width: 2px;
      }
      .btnCancel:after {
        width: 0%;
        height: 2px;
      }
      .btnCancel:hover{
        color: rgba(251,75,2,1);
        background: transparent;
      }
      .btnCancel:hover:before {
        height: 100%;
      }
      .btnCancel:hover:after {
        width: 100%;
      }
      .btnCancel span:before,
      .btnCancel span:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: rgba(251,75,2,1);
        box-shadow:
         -7px -7px 20px 0px rgba(255,255,255,.9),
         -4px -4px 5px 0px rgba(255,255,255,.9),
         7px 7px 20px 0px rgba(0,0,0,.2),
         4px 4px 5px 0px rgba(0,0,0,.3);
        transition: all 0.3s ease;
      }
      .btnCancel span:before {
        width: 2px;
        height: 0%;
      }
      .btnCancel span:after {
        height: 2px;
        width: 0%;
      }
      .btnCancel span:hover:before {
        height: 100%;
      }
      .btnCancel span:hover:after {
        width: 100%;
      }
      
    
  
      .btnAddPhoto{
        position: relative;
        width: 150px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border: 1px solid #34974d;
        background:  rgb(15, 189, 122);
      }
      
      .btnAddPhoto, .btnAddPhotoIcon, .btnAddPhotoText {
        transition: all 0.3s;
      }
      
      .btnAddPhoto .btnAddPhotoText {
        transform: translateX(10px);
        color: #fff;
        font-weight: 600;
      }
      
      .btnAddPhoto .btnAddPhotoIcon {
        position: absolute;
        transform: translateX(109px);
        height: 100%;
        width: 39px;
        border-radius: 10px;
        background:  rgb(15, 189, 122);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .btnAddPhoto .svg {
        width: 30px;
        stroke: #fff;
      }
      
      .btnAddPhoto:hover {
        background:  rgb(15, 189, 122);
      }
      
      .btnAddPhoto:hover .btnAddPhotoText {
        color: transparent;
      }
      
      .btnAddPhoto:hover .btnAddPhotoIcon {
        width: 148px;
        transform: translateX(0);
      }
      
      .btnAddPhoto:active .btnAddPhotoIcon {
        background-color: #2e8644;
      }
      
      .btnAddPhoto:active {
        border: 1px solid #2e8644;
      }






      .tooltip {
        position: relative;
     
   
     
      }
      
   
      
       
      
      .tooltip .tooltiptext {
        visibility: visible;
        opacity: 1;
        pointer-events: none;
      }
      
      .tooltiptext {
   
        width: 140px;
        background-color: #333333ad ;
    
        color: #fff;
        text-align: center;
        border-radius: 8px;
        padding: 2px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 60%;
        margin-left: -20px;
        opacity: 0;

      }
      
      .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 20%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #333333ad  transparent transparent transparent;
      }

